<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "true"
        bootstrap                   = "bootstrap.php" >

    <testsuites>
        <testsuite name="DB Test Suite">
            <file>db/DbInitTest.php</file>
            <file>db/DbTest.php</file>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="CV Test Suite">
            <file>page/CVPageTest.php</file>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="Generator Test Suite">
            <file>generator/DocxGeneratorTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>